    form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    width: 400px;
    padding: 50px;
    gap: 5px;
    
    }

     textarea{
    resize: none; 
    width: 100%; 
    height: 200px; 
    border: none;
    border-top: 0.5px solid orange;
    opacity: 70%;
     }

    input{
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 0.5px solid orange;
    }


    .red{
        color: red;
    }

    input[type=submit]{
        color: black;
        background-color: burlywood;
        width: 25%;

    }
